# Node
node_modules/
dist/
.env

# .NET
bin/
obj/
*.user
appsettings.json
appsettings.*.json

# Java
target/
.gradle/
build/

# General
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
